<ion-header>
  <ion-toolbar  color ="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   
    <ion-title>      
      
    </ion-title>

      <ion-button class="espaco">Login</ion-button>
    
  

      <ion-button class="espaco2" >Cadastrar</ion-button>

  </ion-toolbar >
</ion-header>

<ion-content >

  


  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt=""/>
  </ion-card>
  
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-label>
        <div>
          <h2>Corte silmples</h2>
          <ion-badge color="danger" >R$ 20,00</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="start">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png">
      </ion-thumbnail>
    </ion-item> 
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">
      <ion-label>
        <div>
          <h2>Corte c/ Navalha</h2>
          <ion-badge color="danger" >R$ 25,00</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="start">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png">
      </ion-thumbnail>
    </ion-item> 
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">
      <ion-label>
        <div>
          <h2>Corte + Barba</h2>
          <ion-badge color="danger">R$ 35,00</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="start">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png">
      </ion-thumbnail>
    </ion-item> 
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">
      <ion-label>
        <div>
          <h2>Corte c/ Navalha + Barba </h2>
          <ion-badge color="danger" >R$ 40,00</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="start">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png">
      </ion-thumbnail>
    </ion-item> 
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">
      <ion-label>
        <div>
          <h2>Platinado</h2>
          <ion-badge color="danger" >R$ 60,00</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="start">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png">
      </ion-thumbnail>
    </ion-item> 
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">
      <ion-label>
        <div>
          <h2>Luzes</h2>
          <ion-badge color="danger">R$ 50,00</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="start">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png">
      </ion-thumbnail>
    </ion-item> 
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">
      <ion-label>
        <div>
          <h2>Progressiva</h2>
          <ion-badge color="danger">R$ 100,00</ion-badge>
          <section>
            <ion-button slot="end" size="small">Agendar</ion-button>
          </section>
        </div>
      </ion-label>
      <ion-thumbnail slot="start">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png">
      </ion-thumbnail>
    </ion-item> 
  </ion-item-sliding>






</ion-content>
