.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.espaco {
  padding-left: 75%;
  padding-top: 2px;
  font-size: 10px;
}

.espaco2 {
  padding-left: 35%;
  padding-top: 0px;
  font-size: 10px;
  height: auto;
}